* {
    box-sizing: border-box;
    font-family:Oswald;
  }

 
 
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black
    ;
  }
  

  header {
    background-color: Black;
    height:120px;
    padding: 1px;
    border-bottom: 2px solid #bab991;
    font-size: 35px;
    color: white;
    
  }
  .thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
 
  footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid #bab991;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

 
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .fade
  {
          opacity:0.5;
  }
  .fade:hover
  {
          opacity:1;
  }
  .grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}